html,body {


}

.header {

  text-align: center;

  color: #444;

  font-family: monospace;
  
  font-size: x-large;

}


.center {

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

}


@keyframes background-fade {
  0% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-image: url('inconspicuous.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }
}

#main {

  transform: scale(0.5);
  height:auto !important;
}

